<notifications></notifications>
<form name="createInstitutionForm" class="form-horizontal">
    <div class="form-group" show-errors>
        <label for="name" class="col-sm-2 control-label">Create Institution</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="Name" placeholder="Institution Name" ng-required ng-model="vm.institution.Name">
            <span  class="help-block" ng-show="createInstitutionForm.Name.$invalid">{{createInstitutionForm.Name.$errorText}}</span>
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="vm.Create()" ng-hide="vm.institution.ID">Create</button> <a href="#/Home" class="btn btn-warning" ng-hide="vm.institution.ID">Cancel</a> <a href="#/Home" class="btn btn-default" ng-show="vm.institution.ID">Back</a> 
        </div>
    </div>
</form>