@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutNg.cshtml";
}
<div class="page-header">
    <div class="container">
        <page-info></page-info>
        <ol ncy-breadcrumb class="breadcrumb"></ol>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div ui-view style="min-height: 500px;"></div>
    </div>
</div>
<!-- inject:angularConfig:js -->
<script src="/angularJs/config.js?rev=@@hash"></script>
<!-- endinject -->

@section Scripts
{

    <!-- inject:singlePageApp:js -->
    <!-- endinject -->

    <script src="~/angularJs/templates.js?rev=@@hash"></script>
    <script src="~/angularJs/Directives/helpers.js?rev=@@hash"></script>
    <script src="~/angularJs/Directives/showErrors.js?rev=@@hash"></script>
    <script src="~/angularJs/Modules/filterModules.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/ApplicationServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/EventServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/InstitutionServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/NotificationServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/RoleServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/SearchServices.js?rev=@@hash"></script>
    <script src="~/angularJs/Services/UserServices.js?rev=@@hash"></script>
    <script src="~/AngularJs/Services/AccountServices.js?rev=@@hash"></script>
    <script src="~/AngularJs/Services/RoomServices.js?rev=@@hash"></script>
    <script src="~/AngularJs/services/searchservices.js?rev=@@hash"></script>
    <script src="~/angularjs/services/groupservices.js?rev=@@hash"></script>
    <script src="~/AngularJs/Services/AuthenticationService.js"></script>

    <script src="~/angularJs/Apps/SingleApp/SingleApp.js?rev=@@hash"></script>
    <script src="~/angularJs/Apps/Users/UsersApp.js?rev=@@hash"></script>
    <script src="~/AngularJs/Apps/Rooms/RoomsApp.js?rev=@@hash"></script>
    <script src="~/angularJs/Apps/Roles/RolesApp.js?rev=@@hash"></script>
    <script src="~/angularjs/apps/groups/groupsapp.js?rev=@@hash"></script>
    <script src="~/angularJs/Apps/Institutions/InstitutionsApp.js?rev=@@hash"></script>
    <script src="~/angularJs/Apps/Notifications/notificationsApp.js?rev=@@hash"></script>
    <script src="~/AngularJs/Apps/Account/AccountsApp.js?rev=@@hash"></script>
    <script src="~/AngularJs/Apps/Applications/ApplicationsApp.js?rev=@@hash"></script>
    <script src="~/AngularJs/apps/configuration/configurationapp.js?rev=@@hash"></script>
    <script src="~/markitup/jquery.markitup.js?rev=@@hash"></script>
}