<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
    <!-- inject:js -->
        <script src="/js/site.min.js"></script>
       <!-- endinject -->
</body>
</html>
