<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Alis Alpha</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <!-- <li><a ui-sref="home">Home</a></li>-->
                <li><a ui-sref="users.home">Users</a></li>
                <li><a ui-sref="roles.home">Roles</a></li>
                <li><a ui-sref="institutions.home">Institutions</a></li>
                <li><a ui-sref="applications">Applications</a></li>
                <li><a ui-sref="notifications">Notifications</a></li>
                <li><a ui-sref="configuration">Configuration</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>