<div class="form-group" show-errors>
    <label for="Name" class="col-sm-2 control-label">Friendly Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" ng-required ng-model="$parent.Address.Name">
        <span class="help-block" ng-show="Address.Name.$invalid">{{Address.Name.$errorText}}</span>
    </div>
</div>
<div class="form-group" show-errors>
    <label for="name" class="col-sm-2 control-label">Address 1</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="Address1" id="Address1" placeholder="Address 1" ng-required ng-model="$parent.Address.Address1">
        <span class="help-block" ng-show="Address.Address1.$invalid">{{Address.Address1.$errorText}}</span>
    </div>
</div>
<div class="form-group" show-errors>
    <label for="Address2" class="col-sm-2 control-label">Address 2</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="Address2" id="Address2" placeholder="Address 2" ng-required ng-model="$parent.Address.Address2">
        <span class="help-block" ng-show="Address.Address2.$invalid">{{Address.Address2.$errorText}}</span>
    </div>
</div>
<div class="form-group" show-errors>
    <label for="Town" class="col-sm-2 control-label">Town</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="Town" id="Town" placeholder="Town" ng-required ng-model="$parent.Address.Town">
        <span class="help-block" ng-show="Address.Town.$invalid">{{Address.Town.$errorText}}</span>
    </div>
</div>
<div class="form-group" show-errors>
    <label for="Address2" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="County" id="County" placeholder="County" ng-required ng-model="$parent.Address.County">
        <span class="help-block" ng-show="Address.County.$invalid">{{Address.County.$errorText}}</span>
    </div>
</div>
<div class="form-group" show-errors>
    <label for="Address2" class="col-sm-2 control-label">Postcode</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="Postcode" id="Postcode" placeholder="Postcode" ng-required ng-model="$parent.Address.Postcode">
        <span class="help-block" ng-show="Address.Postcode.$invalid">{{Address.Postcode.$errorText}}</span>
    </div>
</div>