<div class="alert alert-success fade in" ng-show="notifications.success.valid" role="alert">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Success</strong>
    <ul>
        <li ng-repeat="description in notifications.success.descriptions">{{description}}</li>
    </ul>
</div>
<div class="alert alert-danger fade in" ng-show="notifications.errors.invalid" role="alert">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong>
    <ul>
        <li ng-repeat="description in notifications.errors.descriptions">{{description}}</li>
    </ul>
</div>