@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="rolesApp">
    <div ng-view></div>
</div>

<!-- inject:angularConfig:js -->
<script src="/angularJs/config.dev.js"></script>
<!-- endinject -->

@section Scripts
{
    <script src="~/angularjs/services/roleServices.js"></script>
    <script src="~/angularjs/apps/roles/rolesApp.js"></script>
}