<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Notifications</a></li>
    <li class="active">Edit</li>
</ol>
<div ng-bind-html="::vm.details | sanitize"></div>
<a href="#/Create?appID={{::vm.appID}}&eventID={{::vm.eventID}}" class="btn btn-default">Create Notification</a>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tr ng-repeat="notification in vm.notifications track by notification.ID">
        <td>{{::notification.Subject}}</td>
        <td><a href="#/Edit?id={{::notification.ID}}&appID={{::vm.appID}}&eventID={{::vm.eventID}}" class="btn btn-default">Edit</a></td>
        <td><button ng-click="vm.delete(notification)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>