<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Roles</li>
</ol>

<notifications></notifications>
<a href="#/Create" class="btn btn-default">Create Role</a>
<table class="table" show-errors-no-form>
    <thead>
    <tr></tr>
    </thead>
    <tr ng-repeat="role in vm.roles track by role.ID">
        <td>{{::role.Name}}</td>
        <td><a href="#/Edit?id={{::role.ID}}" class="btn btn-default">Edit</a></td>
        <td><button ng-really-message="Are you sure ?" ng-really-click="vm.reallyDelete(role)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>