<notifications></notifications>
<a ui-sref="rooms.create" class="btn btn-default">Create Room</a>
<table class="table" show-errors-no-form>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat="room in vm.rooms">
        <td>
            <span class="label label-info">{{::room.Type.Name}}</span>
        </td>
        <td>{{::room.Name}}</td>
        <td>{{::room.Type.RoomTypeVariant.Name}}</td>
        <td><a ui-sref="rooms.edit({id:{{::room.ID}}})" class="btn btn-default">Edit</a></td>
    </tr>
</table>

<uib-pagination total-items="vm.query.TotalNumberOfResults" ng-model="vm.query.StartAt" ng-change="vm.pageChanged()" items-per-page="vm.query.PageSize" class="pagination-sm" boundary-links="true"></uib-pagination>