<notifications></notifications>

<form name="forgotPasswordForm" class="form-horizontal">
    <div class="form-group" show-errors>
        <label for="email" class="col-sm-2 control-label">Enter your email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" name="Email" placeholder="email" ng-required ng-model="vm.email">
            <span class="help-block" ng-show="forgotPasswordForm.Email.$invalid">{{forgotPasswordForm.Email.$errorText}}</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="vm.resendPassword()">Resend</button> <a class="btn btn-warning" uis-sref="account.login">Cancel</a>
        </div>
    </div>
</form>