<div class="page-header">
    <h3>Search Index Administration</h3>
</div>
<p class="text-info">There are currently {{vm.numberOfRecords}} documents indexed in the search engine.</p>
<h4>Reindex Documents</h4>
<p class="text-warning">Please only use the settings below if you know what you're doing.</p>
<p>Reindexing the search engine will clear all records and will recreate the entire index - this can be time consuming.</p>

<div class="row">
    <div class="col-lg-3">
        <div class="well">
            <h4>Reindex</h4>
            <p style="font-size: smaller;">Clicking the button below will reindex the selected search documents.</p>
            <ul ng-repeat="item in vm.searchable" style="list-style-type: none; padding: 0; margin: 0; ">
                <li><div class="checkbox"><label><input type="checkbox" ng-model="item.Checked" /><span ng-bind="item.Name"></span></label> <i class="glyphicon glyphicon-ok" style="color: #5CB85C;" ng-show="item.Success"></i></div></li>
            </ul>
            <button class="btn btn-primary" ng-click="vm.doReindex()" ng-disabled="disableButton">Reindex</button>
            <div style="margin-top: 20px;">
                <label>
                    <input type="checkbox" ng-model="advancedOptions" /> Advanced Options
                </label>
            </div>
            <div ng-show="advancedOptions">
                <p class="text-warning">Only use these options if you are sure you know what you're doing!</p>
                <button ng-click="vm.deleteSearchRecords()" class="btn btn-warning">Delete All Search Records</button>
            </div>
        </div>
        <a href="/Admin/Settings/SearchSettings" class="btn btn-default">Back</a>
    </div>
</div>