<notifications></notifications>
<a ui-sref="users.create" class="btn btn-default">Create User</a>
<table class="table" ng-cloak>
    <thead>
    <tr>
        <th><a ng-click="vm.reorder('username')">username <span ng-class="vm.getGlyphClass('username')" aria-hidden="true"></span></a></th>
        <th><a ng-click="vm.reorder('forename')">forename</a> <span ng-class="vm.getGlyphClass('forename')" aria-hidden="true"></span></th>
        <th><a ng-click="vm.reorder('surname')">surname</a> <span ng-class="vm.getGlyphClass('surname')" aria-hidden="true"></span></th>
        <th><a ng-click="vm.reorder('email')">email</a> <span ng-class="vm.getGlyphClass('email')" aria-hidden="true"></span></th>
        <th></th>
    </tr>

    </thead>
    <tr ng-repeat="user in vm.users track by user.Username">
        <td>{{::user.Username}}</td>
        <td>{{::user.Forename}}</td>
        <td>{{::user.Surname}}</td>
        <td>{{::user.Email}}</td>
        <td><a ui-sref="users.edit({id:{{::user.ID}}})" class="btn btn-default">Edit</a></td>
    </tr>
</table>
<uib-pagination total-items="vm.query.TotalNumberOfResults" ng-model="vm.query.StartAt" ng-change="vm.pageChanged()" items-per-page="vm.query.PageSize" class="pagination-sm" boundary-links="true"></uib-pagination>