@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutNg.cshtml";
}
<div ncy-breadcrumb></div>

    <div ui-view></div>


<!-- inject:angularConfig:js -->
<script src="/angularJs/config.dev.js"></script>
<!-- endinject -->

@section Scripts
{

    <!-- inject:singlePageApp:js -->

    <!-- endinject -->
<script src="~/angularJs/Directives/helpers.js"></script>
<script src="~/angularJs/Directives/showErrors.js"></script>
<script src="~/angularJs/Modules/filterModules.js"></script>
<script src="~/angularJs/Services/ApplicationServices.js"></script>
<script src="~/angularJs/Services/EventServices.js"></script>
<script src="~/angularJs/Services/InstitutionServices.js"></script>
<script src="~/angularJs/Services/NotificationServices.js"></script>
<script src="~/angularJs/Services/RoleServices.js"></script>
<script src="~/angularJs/Services/SearchServices.js"></script>
<script src="~/angularJs/Services/UserServices.js"></script>
    <script src="~/angularjs/templatescache.js"></script>
    <script src="~/angularJs/Apps/SingleApp/SingleApp.js"></script>
<script src="~/angularJs/Apps/Users/UsersApp.js"></script>
<script src="~/angularJs/Apps/Roles/RolesApp.js"></script>

}